<div class="" id="post_content">
  <h1><%= @post.title %></h1>
  <p><%= @post.content %></p>


<div class="" id="comments">
  <h4><%= @post.comments.count %> Comments</h4>
  <%= render @post.comments %>
  <h3>Reply to thread</h3>
  <%= render 'comments/form' %>

</div>

<br>
<br>
<hr>
<br>

<% if @post.attachments? %>
  <ul>
    <% @post.attachments.each do |attachment| %>
      <li><%= image_tag attachment.url %></li>
    <% end %>
  </ul>
<% end %>




<%= link_to "Edit", edit_post_path(@post), :class => "button" %>
<%= link_to "Delete", post_path(@post), :method => 'delete', data: { confirm: "Delete?"}, :class => "button" %>
<%= link_to "Home", root_path, :class => "button home-button" %>

  </div>
