<!DOCTYPE html>
<html>
  <head>
    <title>Forum App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
        <div class="container">
      <div class="logo" id="logo">
        <p>Lead Korea </p>
      </div>

          <button type="button" id="buttons" name="button"><%= link_to "New Post", new_post_path %></button>

        </div>

    </header>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <div class="container">
  <%= yield %>
  </div>

  </body>
</html>
